// configuraciones globales
$primary: #18D399;
$red: #FF2A3B;
$dark-grey : rgb(128, 128, 128);
$gray : rgb(230, 230, 230);
$lgray : #f3f3f3;
$font-grey: #5F6368;
$white: #fff;
$google-blue: #5969F9;
$button-active-blue: #1669f2;
$green: #8FC97B;
$blue: #6EF0FA;