.login {
    display: flex;

    // justify-content: center;
    &__info {
        background: $yellow;
        color: darken($yellow, 50);
    }

}

.login__container-outer {
    padding: rem(15);
    flex: 1 auto;
    display: flex;

    .login__container {
        flex-basis: 400px;
        margin: auto;
    }

    .login__header {
        margin-top: rem(30);
    }
}


.login__form {
    .form-group label {
        display: block;
        margin-top: rem(15);
        margin-bottom: rem(5);
    }

    .password-title {
        display: flex;
        justify-content: space-between;

        a span {
            display: inline-block;
            margin-top: rem(15);
            color: $google-blue;
            font-size: 14px;

        }
    }

    .btn-register {
        margin-top: rem(10);
        background: $primary;
        color: #fff;
        width: 100%;
        margin-top: rem(20);
    }
}

.login__footer {
    text-align: center;
    margin-top: rem(20);

    a {
        color: $google-blue;
        font-size: 14px;
    }
}

.form-control {
    transition: all .2s;
    box-shadow: $primary 0px 0px 0px 0px;

    &:hover {
        background: #fff;
        box-shadow: lighten($primary, 5) 0px 0px 8px 1px;
    }
}



/* ------------------------------ general class ----------------------------- */
.auth-info {
    display: none;
    box-sizing: border-box;
    height: 100vh;
    max-width: 400px;
    padding: rem(40);
}

/* ------------------------------ MEDIA QUERIES ----------------------------- */

@media (min-width: 962px) {
    .login {
        &__info {
            display: block;
        }
    }

}