.sign {
    display: flex;

    &__info {
       
        background: $blue;
        color: darken($blue, 40);
    }

}

.sign__container-outer {
    padding: rem(15);
    flex: 1 auto;
    display: flex;

    .sign__container {
        flex-basis: 400px;
        margin: auto;
    }

    .sign__header {
        margin-top: rem(30);
    }
}


.sign__form {
    .form-group label {
        display: block;
        margin-top: rem(15);
        margin-bottom: rem(5);
    }

    .password-title {
        display: flex;
        justify-content: space-between;

        a span {
            display: inline-block;
            margin-top: rem(15)
        }
    }

    .btn-register {
        margin-top: rem(10);
        background: $primary;
        color: #fff;
        width: 100%;
        margin-top: rem(20);
    }

    .form-group-check {
        margin-top: rem(15);
        display: flex;

        input {
            vertical-align: middle;
            margin-right: 5px;
            align-self: center;
        }

        .terms {
            color: $font-gray;
            font-size: 12px;

            a {
                color: $google-blue;
            }
        }
    }
}

.sign__footer {
    text-align: center;
    margin-top: rem(20);

    a {
        color: $google-blue;
        font-size: 14px;
    }
}

@media  (min-width: 962px) {
    .sign{
        &__info {
            display: block;
        }
    }
   
}